<template>
  <div>
    <div class="container">
      <br>
      <div class="row">
        <div class="col-3 col-sm-2 order-2">
          <div class="box">
            <AsideCard
              image='aside-card-img.png'
              rate='9.4'
              label='Excellent'
              :categoryPosition='3'
              title='Bang & Olufsen Beolit 17'
              text='Let go of your low battery anxiety. Beolit 17 ensures you get up to 24'
              moreText='go of your low battery anxiety. Beolit 17 ensures you get up to 24'
            />
          </div>
        </div>
        <div class="col-7 col-sm-6 order-3">
          <TopCategorySlider />
          <div class="box box_hide">
            <div class="hidden-phone" :style="{ paddingBottom: '25px' }">
              <ReviewCard
                userAvatar='a'
                userImage='user-image-2.jpg'
                userRating='9.8'
                userName='Ann Mullins'
                reviewsCount='13'
                likeCount='332'
                dislikeCount='33'
                brandName="Bang & Olufsen's favourite"
                followersCount='462k'
                title='Which Grill Should You Buy Charcoal Or Gas'
                text='In Geostorm, Earth is beset by natural disasters. In facing adversity, mankind developed a satellite station to prevent these catastrophes. While people overcame this problem, another conflict arises when it becomes opportune to use the technology as a weapon for sole global domination while people overcame this problem as a weapon for sole global domination'
                imageTop='carousel-card-img-1.jpg'
                titleTop='Dell Vostro'
                reviewsCountTop='12,585'
                ratingTop='9.4'
                ratingLabelTop='Excellent'
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import AsideCard from '~/components/AsideCard'
  import ReviewCard from '~/components/ReviewCard'
  import TopCategorySlider from '~/components/TopCategorySlider'

  import {
    catalogCardItem,
    diagramBoxList,
    UserMenuItems,
    answerBoxContent
  } from '~/data/fixtures';

  export default {
    components: {
      AsideCard,
      ReviewCard,
      TopCategorySlider
    },
    data() {
      return {
        UserMenuItems
      };
    },
  }
</script>

<style lang="stylus">
  @require '../../../styles/main.styl'
</style>
