<template>
	<div class='add-card'>
		<div class='container'>
			<div class='add-card__inner'>
				<h2 class='add-card__title'>Add item</h2>
				<div class='add-card__text'>
					You are a product/company owner and want to know opinions about your item and make it more popular?
				</div>
				<div class='add-card__footer'>
					<button class="add-card__button btn btn_main">
						<span>Add item</span>
					</button>
				</div>
			</div>
		</div>
	</div>
</template>

<style lang="stylus">
	@require "../styles/global"
	.add-card
		overflow hidden
		@media tablet_desktop
			margin 50px 0 100px
		@media phone
			margin-bottom 20px
		&__inner
			position relative
			background-color #fff
			overflow hidden
			box-shadow 0 3px 5px rgba(134, 176, 169, .12)
			@media tablet_desktop
				border-radius 6px
			@media md_lg
				padding 30px 45px 40px
				margin 0 -40px
			@media tablet_sm
				padding 30px
				margin 0 -30px
			@media phone
				padding 20px 15px
				margin 0 -15px
			&:before
				position absolute
				content ''
				bottom -20px
				right -20px
				background url('/plus-add-card-img.svg') center center no-repeat
				background-size cover
				@media tablet_desktop
					width 262px
					height @width
				@media tablet_sm
					width 220px
					height @width
				@media phone
					display none
		&__title
			font-weight 300
			line-height 1.2
			color #404040
			@media desktop
				font-size 36px
			@media tablet_sm
				font-size 30px
			@media phone
				font-size 24px
				text-align center
		&__text
			width 77%
			font-weight normal
			color textGreyColor
			@media tablet_desktop
				font-size 27px
			@media tablet_sm
				font-size 21px
			@media phone
				width 100%
				font-size 18px
		&__footer
			@media tablet_desktop
				margin-top 40px
			@media tablet_sm
				margin-top 20px
			@media phone
				display flex
				justify-content center
				margin-top 20px
		&__button
			padding 10px 60px !important
</style>
