<template>
	<div class="advantages">
		<div class="container">
			<div class="advantages__list">
				<div
					v-for="item in items"
					:key="item.title"
					class="advantages__item"
				>
					<div class="advantages__image">
						<img class="advantages__image-i" :src="item.image" alt="">
					</div>
					<div class="advantages__title">
						{{ item.title }}
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
export default {
	data() {
		return {
			items: [
				{
					image: 'advantages-img-1.svg',
					title: 'More then 300 new honest reviews every day'
				},
				{
					image: 'advantages-img-2.svg',
					title: 'Comunication with brands, making products and services better'
				},
				{
					image: 'advantages-img-3.svg',
					title: 'Helping users make the right and the best choise'
				}
			]
		}
	}
}
</script>

<style lang="stylus">
	@require "../styles/global"
	.advantages
		position relative
		background-color #fff
		&__list
			flex-shrink 0
			display flex
			justify-content space-between
			@media tablet_desktop
				padding 100px 0 60px
			@media phone
				flex-direction column
				align-items center
		&__item
			display flex
			flex-direction column
			align-items center
			@media tablet_desktop
				width 33.33333%
				margin 0 30px
			@media phone
				margin-bottom 40px
			&:first-child
				margin-left 0
			&:last-child
				margin-right 0
		&__image
			height 100px
			@media desktop
				margin-bottom 25px
			@media tablet
				height 70px
				margin-bottom 40px
			@media phone
				margin-bottom 10px
			&-i
				height 100%
				display block
		&__title
			font-size 20px
			font-weight 300
			line-height 1.2
			color #656565
			text-align center
			@media tablet
				font-size 16px
</style>
