<template>
	<div class="aside-card">
		<div class="aside-card__top">
			<div class="aside-card__image">
				<img class="aside-card__image-i" :src="'/'+image">
			</div>
			<div class="aside-card__box">
				<div class="aside-card__box-rate">
					{{ rate }}
				</div>
				<div class="aside-card__box-label">
					{{ label }}
				</div>
			</div>
		</div>
		<div class="aside-card__inner">
			<span class="aside-card__category">
				№{{ categoryPosition }}
				in category
			</span>
			<div class="aside-card__title">
				{{ title }}
			</div>
			<div class="aside-card__text">
				{{ text }}
				<span class="aside-card__text-dots" :class="{hide: isActive}">...</span>
				<span
					class="aside-card__text-toggle"
					:class="{hide: isActive}"
					@click="isActive = !isActive"
				>
					Read more
				</span>
				<span class="aside-card__text-more" :class="{show: isActive}">{{ moreText }}</span>
			</div>
			<a class="aside-card__link" href="#">
				Go to Authorised
				<span>Dealer</span>
			</a>
			<div class="aside-card__buttons">
				<button class="aside-card__button btn btn_main">
					<span>Write a review</span>
				</button>
				<button class="aside-card__button btn btn_default-bordered">
					<span>Read 2 473 Reviews</span>
				</button>
				<button class="aside-card__button btn btn_default-bordered">
					<span>ask direct</span>
				</button>
			</div>
			<div class="aside-card__description">
				<span>Ask.Direct</span> connects you with people, who already use the item to share their experience.
			</div>
			<div class="aside-card__label">
				Average answering time — 5 minutes
			</div>
		</div>
	</div>
</template>

<script>
export default {
	props: {
		image: {
			type: String,
			default: ''
		},
		rate: {
			type: String,
			default: ''
		},
		label: {
			type: String,
			default: ''
		},
		categoryPosition: {
			type: Number,
			default: 1
		},
		title: {
			type: String,
			default: ''
		},
		text: {
			type: String,
			default: ''
		},
		moreText: {
			type: String,
			default: ''
		}

	},
	data() {
		return {
			isActive: false
		}
	}
}
</script>

<style lang="stylus">
	@require "../styles/global"
	.aside-card
		&__top
			display flex
			border-bottom 1px solid #f4f4f4
			@media tablet_desktop
				padding 20px 20px 0
			@media phone
				padding 15px 15px 5px
		&__image
			@media tablet_desktop
				width 81px
				margin auto
			@media phone
				width 52px
			&-i
				width 100%
		&__box
			padding-left 15px
			@media phone
				display flex
				align-items baseline
			&-rate
				font-size 40px
				line-height 1.2
				font-weight normal
				color ratingColor
				@media sm
					font-size 32px
			&-label
				font-size 16px
				font-weight normal
				color #455a64
				@media sm
					font-size 14px
				@media phone
					margin-left 10px
		&__inner
			@media tablet_desktop
				padding 15px 20px 20px
			@media phone
				padding 15px
		&__category
			font-size 14px
			letter-spacing 0.3px
			text-transform uppercase
			color #abadba
		&__title
			padding-top 10px
			margin-bottom 5px
			font-size 24px
			line-height 1.25
			font-weight 300
			color titleColor
			@media sm
				font-size 18px
		&__text
			margin-bottom 10px
			font-size 13px
			font-weight normal
			color #263238
			&-dots
				&.hide
					display none
			&-more
				display none
				&.show
					display inline-block
			&-toggle
				color #000
				text-decoration none
				user-select none
				cursor pointer
				&.hide
					display none
		&__link
			font-size 13px
			font-weight 600
			color #000
			text-decoration none
			span
				position relative
				&:before
					position absolute
					content '→'
					top -1px
					right -17px
					transition .2s all ease-in-out
			&:hover
				span
					&:before
						right -25px
		&__buttons
			margin-top 10px
		&__button
			margin 5px 0
			padding 10px 20px !important
			width 100%
			@media sm
				font-size 12px
			&:last-child
				padding 8px 20px !important
				span
					position relative
					padding-left 20px
					&:before
						position absolute
						content 'A?'
						top -4px
						left 0
						font-size 16px
						font-weight 600
			&:nth-child(2)
				@media tablet_desktop
					display none
		&__description
			margin-top 10px
			font-size 13px
			line-height 1.4
			font-weight normal
			color #b2b2b2
			span
				color titleColor
		&__label
			position relative
			margin-top 10px
			padding-left 10px
			font-size 13px
			line-height 1.4
			font-weight normal
			color #b2b2b2
			&:before
				position absolute
				content ''
				top 5px
				left 0
				width 4px
				height @width
				border-radius 50%
				background #43a047
</style>
