<template>
	<div class='auth-widget'>
		<div class="auth-widget__header">
			<div
				class="auth-widget__title"
				v-if="title && !(stateSingIn || stateSingUp)"
			>
				{{ title }}
			</div>
			<div
				class="auth-widget__text"
				v-if="text"
			>
				{{ text }}
			</div>
		</div>
		<div class="auth-widget__inner">
			<div class="auth-widget__form">
				<div class="form-group">
					<input value :name="firstItemPlaceholder" class="form-control" :type="firstItemPlaceholderType" :placeholder="firstItemPlaceholder" required />
					<div class="error-message">Enter {{ firstItemPlaceholder }}</div>
				</div>
				<div class="form-group">
					<input value :name="secondItemPlaceholder" class="form-control" :type="secondItemPlaceholderType" :placeholder="secondItemPlaceholder" required />
					<div class="error-message">Enter your {{ secondItemPlaceholder }}</div>
				</div>
			</div>
		</div>
		<div class="auth-widget__footer">
			<a class="auth-widget__footer-button btn btn_main btn_big" :href="buttonUrl">{{ buttonTitle }}</a>
		</div>
	</div>
</template>

<script>
	export default {
		props: {
			stateSingIn: {
				type: Boolean,
				default: false
			},
			stateSingUp: {
				type: Boolean,
				default: false
			},
			title: {
				type: String,
				default: ''
			},
			text: {
				type: String,
				default: ''
			},
			firstItemPlaceholder: {
				type: String,
				default: ''
			},
			firstItemPlaceholderType: {
				type: String,
				default: ''
			},
			secondItemPlaceholder: {
				type: String,
				default: ''
			},
			secondItemPlaceholderType: {
				type: String,
				default: ''
			},
			buttonTitle: {
				type: String,
				default: ''
			},
			buttonUrl: {
				type: String,
				default: ''
			}
		}
	}
</script>

<style lang="stylus">
	@require "../styles/global"
	.auth-widget
		&__header
			margin-bottom 10px
		&__title
			margin-bottom 5px
			font-size 24px
			font-weight 300
		&__text
			font-size 14px
			line-height 1.42
			color #7d7d7d
		&__inner
			display flex
			justify-content space-between
			@media phone
				flex-direction column
		&__buttons
			display flex
			flex-direction column
			padding-top 10px
			@media tablet_desktop
				width 260px
				flex-shrink 0
		&__button
			font-weight normal
			margin-bottom 17px
			@media phone
				padding-top 13px !important
				padding-bottom @padding-top
			&:last-child
				@media tablet_desktop
					margin-bottom 0
			&-icon
				@media tablet_desktop
					margin-right 7px
					font-size 20px
				@media phone
					margin-right 15px
					font-size 24px
		&__separator
			position relative
			display flex
			align-items center
			overflow hidden
			font-size 13px
			color rgba(textGreyColor,.5)
			text-transform uppercase
			@media phone
				justify-content center
			&-label
				position relative
				@media tablet_desktop
					padding 5px 0
				@media phone
					padding 0 10px
				&:before
				&:after
					content ''
					position absolute
					background-color #ececec
					@media tablet_desktop
						left 8px
						width 1px
						height 300px
					@media phone
						top 9px
						width 108px
						height 1px
				&:after
					@media tablet_desktop
						top 100%
					@media phone
						left 100%
				&:before
					@media tablet_desktop
						bottom 100%
					@media phone
						right 100%
			&:after
				@media tablet_desktop
					top 27px
				@media phone
					top 10px
					left 33px
		&__form
			@media tablet_desktop
				width 250px
				flex-shrink 0
			@media phone
				margin-top 10px
		&__footer
			display flex
			@media tablet_desktop
				padding-top 10px
				justify-content flex-end
			@media phone
				position fixed
				left 0
				right 0
				bottom 0
				padding 8px 15px
				align-items center
				justify-content space-around
				background-color #fdfdfd
				box-shadow 0 -3px 5px rgba(134, 176, 169, 0.15)
			.btn_main
				@media phone
					background none !important
					box-shadow none !important
					padding-left 0 !important
					padding-right 0 !important
					color primaryColor !important
</style>
