<template>
	<div class="footer">
		<div class="container">
			<div class="footer__top">
				<div class="footer__logo" />
			</div>
			<div class="footer__bottom">
				<div class="footer__bottom-item">
					&copy; 2019, Reviewabout. All rights reserved.
				</div>
			</div>
		</div>
	</div>
</template>

<script>
export default {
	data() {
		return {

		}
	},
	methods: {

	}
}
</script>

<style lang="stylus">
	@require "../styles/global"
	.footer
		background-color #2a2885
		box-shadow 0 3px 5px rgba(13, 71, 161, .05)
		@media tablet_desktop
			padding 25px 0
		@media phone
			padding 15px 0 20px
		&__top
			@media tablet_desktop
				display flex
				align-items center
				margin-bottom 30px
			@media phone
				margin-bottom 35px
		&__logo
			@media tablet_desktop
				width 130px
				height 18px
				margin-right 30px
				background url('/logo.svg') no-repeat 0 0
			@media phone
				width 165px
				height 29px
				margin-bottom 20px
				background url('/logo-main.svg') no-repeat 0 0
		&__inner
			@media md_lg
				display flex
			@media phone
				position relative
				padding-top 190px
		&__content
			@media tablet_desktop
				display flex
			@media md_lg
				width 67%
				flex-shrink 0
		&__item
			@media tablet_desktop
				flex-shrink 0
				width 25%
			&-title
				font-weight bold
				color #fff
				text-transform uppercase
				@media tablet_desktop
					margin-bottom 15px
					font-size 16px
				@media phone
					margin 30px 0 15px
					font-size 24px
			&-label
				@media tablet_desktop
					margin-bottom 10px
				@media phone
					margin-bottom 20px
			&-link
				display inline-block
				vertical-align top
				text-decoration none
				font-weight 300
				line-height 1.2
				color #fff
				opacity 1
				transition .2s opacity ease-in-out
				@media tablet_desktop
					font-size 16px
				@media phone
					font-size 20px
				&:hover
					opacity .4
		&__aside
			display flex
			justify-content space-between
			@media md_lg
				flex-grow 1
				flex-shrink 1
			@media tablet_sm
				margin-top 35px
			&-item
				@media tablet_desktop
					flex-shrink 0
					width 50%
				@media sm
					display flex
				&:last-child
					@media lg
						padding-left 30px
				&:first-child
					@media phone
						position absolute
						top 0
						left 0
			&-title
				margin-bottom 10px
				font-weight bold
				color #fff
				text-transform uppercase
				@media tablet_desktop
					font-size 16px
				@media phone
					font-size 24px
			&-row
				margin-bottom 35px
				&:last-child
					margin-bottom 0
				@media sm
					width 50%
					flex-shrink 0
			&-socials
				user-select none
				display flex
			&-link
				display inline-block
				color #fff
				text-decoration none
				transition .2s color ease-in-out
				@media tablet_desktop
					margin-right 15px
					font-size 24px
				@media phone
					margin-right 20px
					display inline-block
					font-size 36px
				&-i
					display block
				&:hover
					color rgba(#fff,.4)
			&-location
				display inline-flex
				align-items center
				color #fff
				cursor pointer
				@media tablet_desktop
					font-size 16px
				@media phone
					font-size 20px
				&:hover
					.footer__aside-location-icon
						color #fff
				&-icon
					color rgba(#fff,.4)
					transition .2s color ease-in-out
				&-label
					margin-left 5px
		&__bottom
			display flex
			justify-content space-between
			@media tablet_desktop
				margin-top 35px
			@media phone
				margin-top 30px
			&-item
				display flex
				align-items center
				font-size 14px
				font-weight 300
				color #e7e0e0
				&:first-child
					@media phone
						display none
		&__dev
			display flex
			&-label
				padding-top 3px
				margin-right 10px
			&-image
				text-decoration none
				&-i
					display block
		.multiselect
			position relative
			&:focus
				outline 0
			&.multiselect--active
				.option__title
					&:before
						transform rotate(180deg)
			&__single
				display flex
				align-items center
				cursor pointer
			&__content-wrapper
				position absolute
				top 25px
				left -5px
				background #f3f3f3
				border-radius 3px
				overflow hidden
			.multiselect__option
				padding 3px 10px
				display flex
				align-items center
				cursor pointer
				transition .2s background ease-in-out
				&:hover
					color #eb3774
					background #fce4ec
					.option__title
						color #eb3774
				.option__title
					padding-right 0
					color #455A64
					transition .2s color ease-in-out
					&:before
						display none
				.option__image
					margin-right 5px
			.option__title
				padding-right 20px
				font-size 16px
				color #fff
				position relative
				&:before
					position absolute
					content '\e900'
					iconParams()
					font-size 8px
					color #fff
					top 6px
					right 4px
					width 8px
					height @width
			.option__image
					margin-right 10px
					width 19px
					height 14px
		.search-box__input
			@media phone
				width 100%
</style>
