<template>
	<div class="header">
		<div class="container">
			<div class="header__wrap">
        <div class="header__mobile_menu">
          <MobileMenu
            :items='items'
          />
        </div>
				<nuxt-link class="header__logo" to="/">
					<img class="header__logo-i" src="/logo-main.svg" alt="reviewabout">
				</nuxt-link>
				<span class="header__mobile_search icon-loupe" />
				<div class="header__menu">
					<Menu
						:isSigned='isSigned'
						:label='label'
						:title='title'
						:items='items'
					/>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
import Menu from './Menu'
import MobileMenu from './MobileMenu'

export default {
	components: {
		Menu, MobileMenu
	},
	props: {
		label: {
			type: String,
			default: ''
		},
		title: {
			type: String,
			default: ''
		},
		items: {
			type: Array,
			default: () => []
		},
		isSigned: {
			type: Boolean,
			default: false
		}
	},
	data() {
		return {

		}
	},
	methods: {

	}
}
</script>

<style lang="stylus">
	@require "../styles/global"
	.header
		position fixed
		top 0
		right 0
		left 0
		z-index 150
		padding 13px 0
		height 56px
		background-color #3f51b5
		&__wrap
			display flex
			justify-content space-between
			align-items center
		&__logo
			text-decoration none
			@media tablet_desktop
				margin-right 15px
				width 165px
				height 29px
				min-width 165px
			@media tablet_sm
				min-width 110px
			@media phone
				margin-top 2px
				width 148px
				height 26px
			&-i
				display block
				width 100%
		&__search
			margin-right 15px
			@media tablet
				.search-box__input
					width 210px
			@media phone
				display none
		&__menu
			@media phone
				display none
		&__mobile
			&_menu
				@media tablet_desktop
					display none
			&_search
				font-size 20px
				color #fff
				@media tablet_desktop
					display none
</style>
