<template>
	<div class="menu">
		<div class="menu__item">
			<nuxt-link to="card/1" class="menu__item-link">
				Card
			</nuxt-link>
		</div>
		<div
			class="menu__wrap"
			v-if='!isSigned'
		>
			<div class="menu__item">
				<span
					class="menu__item-link"
					v-click-outside="hideSignUp"
					@click="showSignUp"
				>
					Sign Up
				</span>
				<div
					class="menu__item-drop"
					v-show="openedSignUp"
				>
					<div class="menu__item-drop-close icon-close" @click="hideSignUp" />
					<AuthWidget
						title="Sign Up"
						text="Sign Up to leave comments faster, get updates for reviews or answers, join for our weekly newsletter."
						firstItemPlaceholder="Name"
						firstItemPlaceholderType="text"
						secondItemPlaceholder="Email"
						secondItemPlaceholderType="email"
						buttonTitle="Sign up"
						buttonUrl="#"
						linkTitle="Password will be sent to email"
						linkUrl="#"
					/>
				</div>
			</div>
			<div class="menu__item">
				<span
					class="menu__item-link"
					v-click-outside="hideSignIn"
					@click="showSignIn"
				>
					Sign In
				</span>
				<div
					class="menu__item-drop"
					v-show="openedSignIn"
				>
					<div class="menu__item-drop-close icon-close" @click="hideSignIn" />
					<AuthWidget
						title="Sign In"
						text="Sign In to leave comments faster, get updates for reviews or answers, join for our weekly newsletter."
						firstItemPlaceholder="Email"
						firstItemPlaceholderType="Email"
						secondItemPlaceholder="Password"
						secondItemPlaceholderType="password"
						buttonTitle="Sign in"
						buttonUrl="#"
						linkTitle="Forgot Password"
						linkUrl="#"
					/>
				</div>
			</div>
		</div>
		<UserMenu
			v-if='isSigned'
			:label='label'
			:title='title'
			:items='items'
		/>
	</div>
</template>

<script>
import ClickOutside from 'vue-click-outside'
import UserMenu from './UserMenu'
import AuthWidget from './AuthWidget'

export default {
	components: {
		UserMenu,
		AuthWidget
	},
	props: {
		image: {
			type: String,
			default: ''
		},
		label: {
			type: String,
			default: ''
		},
		title: {
			type: String,
			default: ''
		},
		items: {
			type: Array,
			default: () => []
		},
		isSigned: {
			type: Boolean,
			default: false
		}
	},
	data () {
		return {
			openedSignUp: false,
			openedSignIn: false
		}
	},
	methods: {
		showSignUp () {
			this.openedSignUp = !this.openedSignUp,
			this.openedSignIn = false
		},
		hideSignUp () {
			this.openedSignUp = false
		},
		showSignIn () {
			this.openedSignIn = !this.openedSignIn
			this.openedSignUp = false
		},
		hideSignIn () {
			this.openedSignIn = false
		}
	},
	mounted () {
		this.popupItem = this.$el
	},
	directives: {
		ClickOutside
	}
}
</script>

<style lang="stylus">
	@require "../styles/global"
	.menu
		display flex
		align-items center
		&__item
			position relative
			@media md_lg
				margin-right 23px
			@media tablet_sm
				margin-right 10px
			&:hover
				.menu__item-title
					opacity .4
			&-link
				display block
				font-weight 300
				color #fff
				white-space nowrap
				text-decoration none
				user-select none
				cursor pointer
				transition .2s color ease-in-out
				@media tablet_sm
					font-size 12px
				&:hover
					color rgba(#fff,.4)
				.menu__wrap
					font-weight normal
			&-icon
				display block
				font-size 15px
				color rgba(#fff,.4)
				cursor pointer
				transition .2s color ease-in-out
				&:hover
					color #fff
			&-drop
				position absolute
				top 100%
				right 0
				width 636px
				padding 10px 20px 20px
				border-radius 0 0 6px 6px
				background-color #fff
				box-shadow 0 3px 5px rgba(134, 176, 169, .12)
				@media md_lg
					margin-top 17px
				@media tablet_sm
					margin-top 19px
				&-close
					position absolute
					top 10px
					right @top
					width 40px
					height @width
					display flex
					align-items center
					justify-content center
					font-size 12px
					color #c9c9c9
					cursor pointer
					transition .2s color ease-in-out
					&:hover
						color primaryColor
		&__wrap
			display flex
			padding-left 20px
			border-left 1px solid rgba(#fff,.12)
</style>
