<template>
	<Slide disableOutsideClick>
		<div
			class='mobile-menu'
		>
			<div
				class="mobile-menu__back icon-arrow-left"
				@click='hideSubItems'
			/>
			<div class="mobile-menu__logo">
				<img class="mobile-menu__logo-i" :src='logo'/>
			</div>
			<div class='mobile-menu__content'>
				<ul class="mobile-menu__list">
					<li
						class="mobile-menu__list-item"
						v-for='(item, index) in items'
						v-bind:key='item.id'
						@click='showSubItems(item, index)'
						:class="{ show: index == activeIndex }"
					>
						<a
							class="mobile-menu__item"
							:href='item.url'
						>
							<span
								class="mobile-menu__item-icon"
								v-if='item.icon'
								:class='item.icon'
							/>
							<span class="mobile-menu__item-title">
								{{ item.title }}
							</span>
						</a>
						<ul
							class="mobile-menu__sublist"
							v-if='item.list'
						>
							<li
								class='mobile-menu__sublist-item'
								v-for='sub in item.list'
								:key="sub.id"
							>
								<a
									class="mobile-menu__subitem"
									:href='sub.url'
								>
									<span
										class="mobile-menu__subitem-image"
										v-if='sub.image'
									>
										<img
											class="mobile-menu__subitem-image-i"
											:src='sub.image'
											alt=''
										/>
									</span>
									<span class="mobile-menu__subitem-title">
										{{ sub.title }}
									</span>
								</a>
							</li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
	</Slide>
</template>

<script>
import { Slide } from 'vue-burger-menu';

export default {
	components: {
		Slide
	},
	props: {
		items: {
			type: Array,
			default: () => []
		}
	},
	data() {
		return {
			activeIndex: -1,
			logo: 'logo-blue.svg'
		}
	},
	methods: {
		showSubItems(item, index) {
			if (item.list && item.list.length) {
				this.activeIndex = index;
				document.querySelector('.mobile-menu__back').classList.add('show');
				document.querySelector('.bm-cross-button.cross-style').style.display = 'none';
				document.querySelector('.mobile-menu__sublist').classList.add('show');
			}
		},
		hideSubItems() {
			this.activeIndex = -1;

			document.querySelector('.mobile-menu__back').classList.remove('show');
			document.querySelector('.bm-cross-button.cross-style').style.display = 'block';
		}
	}
}
</script>

<style lang='stylus'>
	@require '../styles/global'
	.mobile-menu
		position relative
		overflow hidden
		&__back
			position absolute
			visibility hidden
			content ''
			top 21px
			left 15px
			font-size 18px
			color #4a4a4a
			transform translateX(-45px)
			transition .3s transform ease-in-out
			&.show
				transform translateX(0px)
				visibility visible
		&__logo
			margin 15px auto
			max-width 80%
			@media tablet_desktop
				width 165px
				height 29px
			@media phone
				width 148px
				height 26px
			&-i
				width 100%
				height 100%
		&__content
			position relative
		&__list
			&-item
				&:nth-child(4)
					border-bottom 1px solid #dadada
		&__item
			display flex
			padding 15px
			background-color #fff
			transition .2s background-color ease-in-out
			min-width 300px
			text-decoration none
			&-icon
				margin-right 20px
				font-size 18px
				color #c7c7c7
			&-title
				font-size 14px
				color #39393a
				text-decoration none
		&__sublist
			position absolute
			z-index 3
			top 0
			left 0
			width 100%
			height 100%
			background-color #fff
			transform translateX(-300px)
			overflow-y auto
			-webkit-overflow-scrolling touch
			transition .3s transform ease-in-out
			.show &
				transform translateX(0px)
		&__subitem
			display flex
			align-items center
			padding 15px
			text-decoration none
			&-image
				margin-right 20px
				width 24px
				height @width
				display flex
				align-items center
				justify-content center
				&-i
					max-width 100%
			&-title
				font-size 14px
				color #39393a
	.line-style
		height 15%
	.bm-burger
		&-button
			cursor pointer
			height 15px
			left 15px
			top 21px
			width 18px
			&.line-style
				height 10%
		&-bars
			background-color #fff
	.bm-item-list
		margin-left 0
		>*
			display block
			padding 0
	.bm-menu
		background-color #fff
		box-shadow 2px 0px 2px rgba(0, 0, 0, 0.12), 2px 0px 5px rgba(0, 0, 0, 0.14)
		padding-top 0
	.bm-cross-button.cross-style
		left 23px
		top 19px
	.bm-cross
		width 2px !important
		height 19px !important
		background #4A4A4A
</style>
