<template>
	<div class="review-card" :class="{styled: isHeader, withMargin: isAnswer}">
		<div v-if="isHeader" class="review-card__top">
			<div class="review-card__image">
				<img class="review-card__image-i" :src="imageTop">
			</div>
			<div class="review-card__aside">
				<div class="review-card__aside-item">
					<div class="review-card__aside-title">
						{{ titleTop }}
					</div>
					<div class="review-card__aside-label">
						{{ reviewsCountTop }}
						User reviews
					</div>
				</div>
				<div class="review-card__aside-item">
					<div class="review-card__aside-rating">
						{{ ratingTop }}
					</div>
					<div class="review-card__aside-rating-label">
						{{ ratingLabelTop }}
					</div>
				</div>
			</div>
		</div>
		<div class="review-card__header">
			<div class="review-card__avatar">
				<div v-if="!isHeader" class="review-card__avatar-icon">
					{{ userAvatar }}
				</div>
				<div v-if="isHeader" class="review-card__avatar-icon" :style="{ backgroundImage: 'url(' + userImage + ')' }"/>
			</div>
			<div class="review-card__inner">
				<div class="review-card__row">
					<div class="review-card__name">
						{{ userName }}
					</div>
					<div class="review-card__item">
						<span class="review-card__item-value">{{ reviewsCount }}</span>
						<span class="review-card__item-label">reviews</span>
					</div>
					<div class="review-card__item">
						<span class="review-card__item-value">{{ likeCount }}</span>
						<span class="review-card__item-label">helpful votes</span>
					</div>
					<div class="review-card__item">
						<span class="review-card__item-value">{{ dislikeCount }}</span>
						<span class="review-card__item-label">disagrees</span>
					</div>
					<div class="review-card__item" v-if='!isAnswer'>
						<div class="review-card__item-icon icon-check-alt" />
						<div class="review-card__item-title">
							{{ brandName }}
						</div>
					</div>
				</div>
				<div class="review-card__row">
					<div class="review-card__social">
						<div class="review-card__social-title">
							{{ followersCount }}
							&nbsp;followers
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="review-card__content">
			<div class="review-card__rating" v-if='!isAnswer'>
				{{ userRating }}
			</div>
			<div class="review-card__wrap">
				<div class="review-card__title" v-if='!isAnswer'>
					{{ title }}
				</div>
				<div class="review-card__text">
					{{ text }}
				</div>
				<div
					class="review-card__media"
					v-if='isAnswer'
				>
					<div class="review-card__media-item" v-for="item in images" :key="item.id">
						<img class="review-card__media-item-i" :src='item'/>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
export default {
	props: {
		isHeader: {
			type: Boolean,
			default: false
		},
		isAnswer: {
			type: Boolean,
			default: false
		},
		userAvatar: {
			type: String,
			default: ''
		},
		userImage: {
			type: String,
			default: ''
		},
		userRating: {
			type: String,
			default: ''
		},
		userName: {
			type: String,
			default: ''
		},
		reviewsCount: {
			type: String,
			default: ''
		},
		likeCount: {
			type: String,
			default: ''
		},
		dislikeCount: {
			type: String,
			default: ''
		},
		brandName: {
			type: String,
			default: ''
		},
		followersCount: {
			type: String,
			default: ''
		},
		title: {
			type: String,
			default: ''
		},
		text: {
			type: String,
			default: ''
		},
		imageTop: {
			type: String,
			default: ''
		},
		titleTop: {
			type: String,
			default: ''
		},
		reviewsCountTop: {
			type: String,
			default: ''
		},
		ratingTop: {
			type: String,
			default: ''
		},
		ratingLabelTop: {
			type: String,
			default: ''
		},
		images: {
			type: Array,
			default: () => []
		},
		isContent: {
			type: Boolean,
			default: false
		},
		items: {
			type: Array,
			default: () => []
		}
	}
}
</script>

<style lang="stylus">
	@require "../styles/global"
	.review-card
		padding 10px 7px 20px
		margin-bottom 15px
		background rgba(229, 233, 30, 0.03)
		border-radius 5px
		&.styled
			background #fff
			box-shadow 0px 3px 5px rgba(134, 176, 169, 0.12)
			border-radius 6px
		&.withMargin
			background rgba(#97CADB,.12)
			border-radius 4px
			@media tablet_desktop
				margin 0 15px 0 60px
			@media phone
				margin 0 15px
		&__top
			display flex
			margin -10px -7px 0 -7px
			padding 15px 20px
			border-bottom 1px solid #ececec
		&__aside
			display flex
			justify-content space-between
			width 100%
			padding-left 10px
			&-title
				margin-bottom 3px
				font-size 18px
				font-weight 300
				color #000
			&-label
				font-size 13px
				color textGreyColor
			&-rating
				font-size 40px
				line-height 1
				color #e00051
				text-align right
				&-label
					font-size 16px
					color #455a64
					line-height 1
		&__image
			width 74px
			height 49px
			&-i
				width 100%
				height 100%
		&__header
			display flex
			position relative
			.styled &
				padding-top 15px
		&__inner
			margin-left 60px
			margin-right 20px
		&__row
			display flex
			align-items center
			flex-wrap wrap
		&__name
			font-size 16px
			line-height 1.7
			color titleColor
			margin-right 15px
		&__avatar
			position absolute
			top 0
			left 11px
			width 38px
			height @width
			font-size 24px
			text-transform uppercase
			text-align center
			color #fff
			background-color primaryColor
			border-radius 50%
			overflow hidden
			.styled &
				top 17px
			&-icon
				width 100%
				height 100%
		&__item
			display flex
			align-items center
			margin-right 15px
			color darkGreyColor
			&:last-child
				margin-right 0
			.styled &
				margin-left 8px
				padding-top 5px
				font-size 11px
			&-title
				margin-left 5px
			&-value
				margin-right 3px
				font-weight bold
			&-icon
				display inline-block
				vertical-align top
				margin-top -1px
		&__social
			position relative
			padding-left 17px
			&:before
				position absolute
				content ''
				top 4px
				left 0
				width 12px
				height @width
				background url('/instagram-color-icon.svg') center center no-repeat
				background-size contain
		&__content
			display flex
			padding 15px 0 13px
		&__title
			margin-bottom 15px
			font-size 22px
			line-height 1.3
			color titleColor
			@media phone
				padding-left 60px
		&__text
			font-size 15px
			color #263238
		&__media
			display flex
			@media tablet_desktop
				margin 10px 0 7px
			@media phone
				margin 10px 15px 7px
			&-item
				margin-right 10px
				width 60px
				height 60px
				border-radius 3px
				overflow hidden
				&-i
					width 100%
					height 100%
		&__footer
			@media tablet_desktop
				margin-left 60px
			@media phone
				margin-left 15px
		&__dots
			position absolute
			top 5px
			right 0
			text-decoration none
			color rgba(#3F51B5,.2)
			.styled &
				top 20px
		&__content
			position relative
		&__rating
			position absolute
			top 11px
			left 12px
			font-size 24px
			color ratingColor
		&__wrap
			@media tablet_desktop
				margin-left 60px
				padding-right 20px
			@media phone
				margin-left 0
				padding-right 0
</style>
