<template>
	<div
		class="user-menu"
		:class='{ open: isOpen }'
	>
		<div
			class="user-menu__header"
			@click='isOpen = !isOpen'
		>
			<div class="user-menu__header-image">
				<div
					class="user-menu__header-image-i"
					v-if='image'
					:style="{ backgroundImage: 'url(' + image + ')' }"
				/>
				<div
					class="user-menu__header-image-label"
					v-if='label'
				>
					{{ label }}
				</div>
			</div>
			<div class="user-menu__header-title">
				{{ title }}
			</div>
		</div>
		<ul class="user-menu__list">
			<li
				class="user-menu__list-item"
				v-for='item in items'
				:key="item.id"
			>
				<a
					class="user-menu__item"
					:href='item.url'
				>
					<span
						class="user-menu__item-icon"
						v-if='item.icon'
						:class='item.icon'
						/>
					<span class="user-menu__item-title">
						{{ item.title }}
					</span>
				</a>
				<ul
					class="user-menu__sublist"
					v-if='item.list'
				>
					<li
						class='user-menu__sublist-item'
						v-for='sub in item.list'
						:key="sub.id"
					>
						<a
							class="user-menu__subitem"
							:href='sub.url'
						>
							<span class="user-menu__subitem-image">
								<img
									class="user-menu__subitem-image-i"
									v-if='sub.image'
									:src='sub.image'
									alt=''
								/>
							</span>
							<span class="user-menu__subitem-title">
								{{ sub.title }}
							</span>
						</a>
					</li>
				</ul>
			</li>
		</ul>
	</div>
</template>

<script>
export default {
	props: {
		image: {
			type: String,
			default: ''
		},
		label: {
			type: String,
			default: ''
		},
		title: {
			type: String,
			default: ''
		},
		items: {
			type: Array,
			default: () => []
		}
	},
	data() {
		return {
			isOpen: false
		}
	}
}
</script>

<style lang='stylus'>
	@require "../styles/global"
	.user-menu
		position relative
		&__header
			padding-right 15px
			display flex
			align-items center
			cursor pointer
			&-image
				margin-right 10px
				width 30px
				height 30px
				display flex
				justify-content center
				align-items center
				border-radius 50%
				background ratingColor
				&-i
					width 100%
					height 100%
					background-size cover
					background-position center center
					background-repeat no-repeat
				&-label
					font-size 14px
					font-weight 900
					color #fff
					text-transform uppercase
			&-title
				position relative
				color #fff
				user-select none
				&:after
					position absolute
					content '\e900'
					iconParams()
					font-size 7px
					color #fff
					top 7px
					right -15px
					width 8px
					height @width
					.open &
						transform rotate(180deg)
		&__list
			display none
			position absolute
			z-index 1
			top 43px
			right 0
			width 210px
			background-color #fff
			box-shadow 0 3px 5px rgba(134, 176, 169, .15)
			border-radius 0 0 6px 6px
			.open &
				display block
			&-item
				position relative
				&:nth-child(4)
					border-bottom 1px solid #dadada
				&:hover
					.user-menu__sublist
						display block
		&__item
			display flex
			position relative
			padding 15px 20px
			text-decoration none
			transition .2s background-color ease-in-out
			&:hover
				background-color #f7f7f7
			&-icon
				margin-right 20px
				font-size 18px
				color #c7c7c7
			&-title
				color #39393a
		&__sublist
			display none
			position absolute
			z-index 3
			top 0
			right 100%
			min-width 300px
			overflow hidden
			background-color #fff
			box-shadow 0 3px 5px rgba(134, 176, 169, .15)
			border-radius 0 0 6px 6px
		&__subitem
			display flex
			align-items center
			position relative
			padding 15px 20px
			text-decoration none
			transition .2s background-color ease-in-out
			&:hover
				background-color #f7f7f7
			&-image
				margin-right 20px
				width 24px
				height @width
				display flex
				align-items center
				justify-content center
				&-i
					max-width 100%
			&-title
				color #39393a
</style>
