<template>
	<div>
		<Header />
		<nuxt />
		<Footer />
	</div>
</template>

<script>
import Header from '../components/Header.vue'
import Footer from '../components/Footer.vue'
export default {
	components: {
		Header,
		Footer
	}
}
</script>

<style lang="stylus">
	@require '../styles/main.styl'
</style>
