<template>
  <div>
    <AddCard />
    <Advantages />
  </div>
</template>

<script>
  import Advantages from '~/components/Advantages.vue'
  import AddCard from '~/components/AddCard.vue'

  import { noAuthMenuItems } from '~/data/fixtures';

  export default {
    components: {
      Advantages,
      AddCard
    },
    data() {
      return {
        noAuthMenuItems
      };
    },
  }
</script>

<style lang="stylus">
  @require '../../styles/main.styl'
</style>

